<!--<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>


<ul>
  <li *ngFor="#name of nameListService.get()">{{name}}</li>
</ul>-->
<button-collection>
  <music-button>Der juden</music-button>
  <music-button music="/assets/audio/sample1.mp3">Wijsheden van de kraanvogel</music-button>
  <music-button music="/assets/audio/sample2.mp3">Space-komputer</music-button>
  <music-button music="/assets/audio/sample3.mp3">Krekel</music-button>
  <music-button music="/assets/audio/sample4.mp3">Blafkk</music-button>
  <music-button music="/assets/audio/sample7.mp3">Dude its woodstock</music-button>
  <music-button music="/assets/audio/sample8.mp3">Geneukt in de DOMTOREN</music-button>
  <music-button music="/assets/audio/sample9.mp3">Neurwegen</music-button>
  <music-button music="/assets/audio/sample-12.mp3">niet Halal</music-button>
  <music-button music="/assets/audio/sample-14.mp3">lekker wietwegroken</music-button>
  <music-button music="/assets/audio/sample-16.mp3">Kelders van Zwadderich</music-button>
  <music-button music="/assets/audio/sample-17.mp3">Tempel van het licht</music-button>
  <music-button music="/assets/audio/sample-18.mp3">Opzoek naar de sjeik</music-button>
</button-collection>