<!--<p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>


<ul>
  <li *ngFor="#name of nameListService.get()">{{name}}</li>
</ul>-->
<button-collection>
  <music-button label="Der jüden"></music-button>
  <music-button label="Wijsheden van de kraanvogel" music="/assets/audio/sample1.mp3"></music-button>
  <music-button label="Space-komputer" music="/assets/audio/sample2.mp3"></music-button>
  <music-button label="Krekel" music="/assets/audio/sample3.mp3"></music-button>
  <music-button label="Blafkk" music="/assets/audio/sample4.mp3"></music-button>
  <music-button label="Dude its woodstock" music="/assets/audio/sample7.mp3"></music-button>
  <music-button label="Geneukt in de DOMTOREN" music="/assets/audio/sample8.mp3"></music-button>
  <music-button label="Neurwegen" music="/assets/audio/sample9.mp3"></music-button>
  <music-button label="niet Halal" music="/assets/audio/sample-12.mp3"></music-button>
  <music-button label="lekker wietwegroken" music="/assets/audio/sample-14.mp3"></music-button>
  <music-button label="Kelders van Zwadderich" music="/assets/audio/sample-16.mp3"></music-button>
  <music-button label="Tempel van het licht" music="/assets/audio/sample-17.mp3"></music-button>
  <music-button label="Opzoek naar de sjeik" music="/assets/audio/sample-18.mp3"></music-button>
</button-collection>