:host {
  font-family: "Lato", arial, sans-serif;
  text-align: center;
  color: #fff;
  background: #F36655;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: wrap;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
