@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  padding: 10px;
  font-family: "Lato", arial, sans-serif;
  text-align: center;
  color: #fff;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}